/* sc-component-id: Container-ybirvx-0 -- footer */
.eCMzjk-f {
  background: #000;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.4rem;
  padding-left: 1.4rem;
  width: 100%;
}

/* sc-component-id: Container-ybirvx-0 */
.eCMzjk {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.4rem;
  padding-left: 1.4rem;
  width: 100%;
}

@media (min-width:26.25em) {
  .eCMzjk {
    max-width: 420px;
  }
}

@media (min-width:48em) {
  .eCMzjk {
    max-width: 768px;
  }
}

@media (min-width:62em) {
  .eCMzjk {
    max-width: 992px;
  }
}

@media (min-width:75em) {
  .eCMzjk {
    max-width: 1200px;
  }
}

/* sc-component-id: Col-mbuk5t-0 */
.bselgP {
  position: relative;
  display: inline-block;
  width: 25%;
  vertical-align: top;
  padding: 0.8rem;
  zoom: 1;
}

@media (max-width:48em) {
  .bselgP {
    display: inline-block;
    width: 100%;
  }
}

.hIPCOZ {
  position: relative;
  display: none;
  vertical-align: top;
  padding: 0.8rem;
  zoom: 1;
}

@media (max-width:48em) {
  .hIPCOZ {
    display: inline-block;
    width: 100%;
  }
}

.esckEz {
  position: relative;
  display: inline-block;
  width: 33.333333333333336%;
  vertical-align: top;
  padding: 0.8rem;
  zoom: 1;
}

@media (max-width:48em) {
  .esckEz {
    display: none;
  }
}

.kkHqud {
  position: relative;
  display: inline-block;
  width: 75%;
  vertical-align: top;
  padding: 0.8rem;
  zoom: 1;
}

@media (max-width:48em) {
  .kkHqud {
    display: inline-block;
    width: 100%;
  }
}

.bbCpmp {
  position: relative;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding: 0.8rem;
  zoom: 1;
}

@media (max-width:48em) {
  .bbCpmp {
    display: inline-block;
    width: 100%;
  }
}

.fqCFal {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  padding: 0.8rem;
  zoom: 1;
}

.yyMvA {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  padding: 0.8rem;
  zoom: 1;
}

@media (max-width:48em) {
  .yyMvA {
    display: none;
  }
}

.ealgZ {
  position: relative;
  display: inline-block;
  width: 25%;
  vertical-align: top;
  padding: 0.8rem;
  zoom: 1;
}

@media (max-width:48em) {
  .ealgZ {
    display: none;
  }
}

.fyVPxR {
  position: relative;
  display: inline-block;
  width: 41.666666666666664%;
  vertical-align: top;
  padding: 0.8rem;
  zoom: 1;
}

@media (max-width:48em) {
  .fyVPxR {
    display: inline-block;
    width: 100%;
  }
}

.iZNNHv {
  position: relative;
  display: none;
  vertical-align: top;
  padding: 0.8rem;
  zoom: 1;
}

@media (max-width:62em) {
  .iZNNHv {
    display: none;
  }
}

@media (max-width:48em) {
  .iZNNHv {
    display: inline-block;
    width: 100%;
  }
}

.cyQwLP {
  position: relative;
  display: inline-block;
  width: 25%;
  vertical-align: top;
  padding: 0.8rem;
  zoom: 1;
}

@media (max-width:62em) {
  .cyQwLP {
    display: inline-block;
    width: 28.571428571428573%;
  }
}

@media (max-width:48em) {
  .cyQwLP {
    display: none;
  }
}

.KrrbI {
  position: relative;
  display: inline-block;
  width: 75%;
  vertical-align: top;
  padding: 0.8rem;
  zoom: 1;
}

@media (max-width:62em) {
  .KrrbI {
    display: inline-block;
    width: 71.42857142857143%;
  }
}

@media (max-width:48em) {
  .KrrbI {
    display: inline-block;
    width: 100%;
  }
}

.kSKNUI {
  position: relative;
  display: inline-block;
  width: 58.333333333333336%;
  vertical-align: top;
  padding: 0.8rem;
  zoom: 1;
}

@media (max-width:48em) {
  .kSKNUI {
    display: none;
  }
}

.cTsLYj {
  position: relative;
  display: inline-block;
  width: 10.416666666666666%;
  vertical-align: top;
  padding: 0.8rem;
  zoom: 1;
}

@media (max-width:62em) {
  .cTsLYj {
    display: inline-block;
    width: 12.5%;
  }
}

@media (max-width:48em) {
  .cTsLYj {
    display: none;
  }
}

.ccqhfw {
  position: relative;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding: 0.8rem;
  zoom: 1;
}

@media (max-width:62em) {
  .ccqhfw {
    display: inline-block;
    width: 58.333333333333336%;
  }
}

@media (max-width:48em) {
  .ccqhfw {
    display: inline-block;
    width: 100%;
  }
}

.cucllH {
  position: relative;
  display: inline-block;
  width: 83.33333333333333%;
  vertical-align: top;
  padding: 0.8rem;
  zoom: 1;
}

@media (max-width:48em) {
  .cucllH {
    display: inline-block;
    width: 100%;
  }
}

.iWsSRA {
  position: relative;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding: 0.8rem;
  zoom: 1;
}

@media (max-width:100em) {
  .iWsSRA {
    display: inline-block;
    width: 41.666666666666664%;
  }
}

@media (max-width:62em) {
  .iWsSRA {
    display: inline-block;
    width: 50%;
  }
}

@media (max-width:48em) {
  .iWsSRA {
    display: inline-block;
    width: 100%;
  }
}

.cpUXzf {
  position: relative;
  display: inline-block;
  width: 83.33333333333333%;
  vertical-align: top;
  padding: 0.8rem;
  zoom: 1;
}

@media (max-width:48em) {
  .cpUXzf {
    display: none;
  }
}

/* sc-component-id: Grid__GridContainer-xhz9es-0 */
.TSGqh {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  position: relative;
  margin: -0.8rem;
}

.cPDTTm {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  position: relative;
  -webkit-align-items: flex-end;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  margin: -0.8rem;
}

.jPVMSq {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  position: relative;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: -0.8rem;
}

/* sc-component-id: sc-bdVaJa */
.fhxAte {
  position: relative;
  white-space: nowrap;
}

.fhxAte::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  height: 1px;
  background: #8D8CA0;
}

.fhxAte:hover {
  opacity: 0.5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.eTOeBp {
  position: relative;
}

.eTOeBp:hover {
  opacity: 0.5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* sc-component-id: Button__ButtonContent-s1ov6wwx-0 */
.jnPIJs {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: 1;
  color: currentColor;
}

/* sc-component-id: sc-bwzfXH */
.ilLFvv {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 0.8rem;
  font-weight: 500;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  padding: 0.75em 0.8em 0.6em;
  position: relative;
  white-space: nowrap;
  background-color: transparent;
}

.ilLFvv>* {
  padding-left: 4px;
  padding-right: 4px;
}

.ilLFvv>*:first-child {
  padding-left: 0;
}

.ilLFvv>*:last-child {
  padding-right: 0;
}

.dWAFCc {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  padding: 0.8em 1.2em 0.6em;
  position: relative;
  white-space: nowrap;
  border-color: #000;
  background-color: transparent;
}

.dWAFCc:link {
  color: #0cc2ba;
}

.dWAFCc>* {
  padding-left: 4px;
  padding-right: 4px;
}

.dWAFCc>*:first-child {
  padding-left: 0;
}

.dWAFCc>*:last-child {
  padding-right: 0;
}

/* sc-component-id: SpacedContent-s13gt09q-0 */
.fUpIDI>* {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.fUpIDI>*:first-child {
  margin-top: 0;
}

.fUpIDI>*:last-child {
  margin-bottom: 0;
}

@media (max-width:62em) {
  .fUpIDI>* {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .fUpIDI>*:first-child {
    margin-top: 0;
  }

  .fUpIDI>*:last-child {
    margin-bottom: 0;
  }
}

.dTBSrq>* {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.dTBSrq>*:first-child {
  margin-top: 0;
}

.dTBSrq>*:last-child {
  margin-bottom: 0;
}

@media (max-width:62em) {
  .dTBSrq>* {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  .dTBSrq>*:first-child {
    margin-top: 0;
  }

  .dTBSrq>*:last-child {
    margin-bottom: 0;
  }
}

.iQaPVq {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 100%;
}

.iQaPVq>* {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.iQaPVq>*:first-child {
  margin-top: 0;
}

.iQaPVq>*:last-child {
  margin-bottom: 0;
}

@media (max-width:62em) {
  .iQaPVq>* {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  .iQaPVq>*:first-child {
    margin-top: 0;
  }

  .iQaPVq>*:last-child {
    margin-bottom: 0;
  }
}

.kIEgxi>* {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.kIEgxi>*:first-child {
  margin-left: 0;
}

.kIEgxi>*:last-child {
  margin-right: 0;
}

@media (max-width:62em) {
  .kIEgxi>* {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  .kIEgxi>*:first-child {
    margin-left: 0;
  }

  .kIEgxi>*:last-child {
    margin-right: 0;
  }
}

/* sc-component-id: Text__InnerText-s1e82ayr-0 */
.hOTdPa {
  color: #000;
  font-size: 3.5rem;
  line-height: 1.2756487309204436;
  font-weight: 700;
}

@media (max-width:62em) {
  .hOTdPa {
    font-size: 2.1rem;
    line-height: 1.414253225751679;
  }
}

.cZGynC {
  color: #000;
  font-size: 2rem;
  line-height: 1.4282550137384307;
}

@media (max-width:62em) {
  .cZGynC {
    font-size: 1.35rem;
    line-height: 1.5462262062746075;
  }
}

.gjOpYJ {
  font-size: 1rem;
  line-height: 1.642821;
}

.gquVkl {
  font-size: 0.8rem;
  line-height: 1.642821;
}

.fOXlBJ {
  font-weight: 700;
}

.iUYFTt {
  color: #ffffff;
  font-weight: 500;
}

.hhxvJS {
  text-align: right;
}

.gXZdCG {
  color: #ffffff;
  font-size: 0.8rem;
  line-height: 1.642821;
  font-weight: 700;
}

.dZfhgc {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
}

.huzSap {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  line-height: 1.642821;
  text-align: left;
}

.hwlrYG {
  font-size: 2rem;
  line-height: 1.4282550137384307;
  font-weight: 700;
  text-align: left;
}

@media (max-width:62em) {
  .hwlrYG {
    font-size: 1.35rem;
    line-height: 1.5462262062746075;
  }
}

.iMBCLq {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.5rem;
  line-height: 1.513678350257165;
  font-weight: 300;
}

@media (max-width:62em) {
  .iMBCLq {
    font-size: 1.1rem;
    line-height: 1.6115068815469615;
  }
}

.eFyIZH {
  color: #ffffff;
  font-size: 0.8rem;
  line-height: 1.642821;
}

/* sc-component-id: Icon__IconContainer-s1eymix-0 */
.clAVox {
  display: inline-block;
  vertical-align: -0.2em;
  height: 1em;
  width: auto;
  position: relative;
}

/* sc-component-id: Icon__CanvasShim-s1eymix-1 */
.hvTkVn {
  display: block;
  visibility: hidden;
  height: 100%;
}

/* sc-component-id: Icon-s1eymix-2 */
.kALlyJ {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  fill: currentColor;
  color: inherit;
}

.dHyUPT {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  fill: currentColor;
  color: #ffffff;
}

/* sc-component-id: List__StripedList-s89dz7-2 */
.eaaoBd {
  list-style: none;
}

.eaaoBd>li {
  margin-top: 0.3em;
}

.eaaoBd>li:before {
  content: '—\2002';
}

/* sc-component-id: PaddedContent-s14eps5c-0 */
.jtDZOB {
  padding: 0.75rem;
}

.fYWtVH {
  padding: 1.25rem 0;
}

.hZQNNT {
  padding: 0.3rem 0;
}

.gdRSO {
  padding: 0.75rem 0;
}

/* sc-component-id: PageBlock-s12ll291-0 */
.breLDb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 48px;
}

@media (max-width:48em) {
  .breLDb {
    text-align: center;
  }
}

.dMcgDi {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 48px;
  padding-bottom: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width:48em) {
  .dMcgDi {
    text-align: center;
  }
}

/* sc-component-id: Pill-s1gy2jlg-0 */
.iPLgTN {
  width: 2.4em;
  padding: 0.3em 0.2em 0.1em;
  font-weight: 700;
  line-height: 1;
  margin-right: 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}

/* sc-component-id: sc-keyframes-erfDBf */
@-webkit-keyframes erfDBf {
  0% {
    -webkit-transform: translateY(25%);
    -ms-transform: translateY(25%);
    transform: translateY(25%);
  }

  100% {
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
  }
}

@keyframes erfDBf {
  0% {
    -webkit-transform: translateY(25%);
    -ms-transform: translateY(25%);
    transform: translateY(25%);
  }

  100% {
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
  }
}

/* sc-component-id: HeaderMini__BackButton-s19m3osg-0 */
.gzEtTD {
  z-index: 2;
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.gzEtTD:hover {
  background-color: #000;
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  color: #ffffff;
}

/* sc-component-id: sc-keyframes-kXNZTh */
@-webkit-keyframes kXNZTh {
  from {
    opacity: 0;
    -webkit-transform: scale(0.96);
    -ms-transform: scale(0.96);
    transform: scale(0.96);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes kXNZTh {
  from {
    opacity: 0;
    -webkit-transform: scale(0.96);
    -ms-transform: scale(0.96);
    transform: scale(0.96);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

/* sc-component-id: sc-keyframes-glJgDj */
@-webkit-keyframes glJgDj {
  0% {
    -webkit-transform: translateX(30px) scale(0.98);
    -ms-transform: translateX(30px) scale(0.98);
    transform: translateX(30px) scale(0.98);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0) scale(1);
    -ms-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes glJgDj {
  0% {
    -webkit-transform: translateX(30px) scale(0.98);
    -ms-transform: translateX(30px) scale(0.98);
    transform: translateX(30px) scale(0.98);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0) scale(1);
    -ms-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

/* sc-component-id: sc-keyframes-ffGLem */
@-webkit-keyframes ffGLem {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes ffGLem {
  to {
    stroke-dashoffset: 0;
  }
}

/* sc-component-id: sc-keyframes-dNrggM */
@-webkit-keyframes dNrggM {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-2deg) scale(0.96);
    -ms-transform: rotate(-2deg) scale(0.96);
    transform: rotate(-2deg) scale(0.96);
  }

  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
}

@keyframes dNrggM {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-2deg) scale(0.96);
    -ms-transform: rotate(-2deg) scale(0.96);
    transform: rotate(-2deg) scale(0.96);
  }

  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
}

/* sc-component-id: sc-keyframes-juIpnd */
@-webkit-keyframes juIpnd {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    -ms-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    -ms-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes juIpnd {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    -ms-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    -ms-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

/* sc-component-id: sc-keyframes-eMLfYp */
@-webkit-keyframes eMLfYp {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes eMLfYp {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* sc-component-id: sc-keyframes-dWYNGt */
@-webkit-keyframes dWYNGt {
  0% {
    visibility: hidden;
    -webkit-transform: translate3d(0, 60px, 0);
    -ms-transform: translate3d(0, 60px, 0);
    transform: translate3d(0, 60px, 0);
    opacity: 0;
  }

  100% {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes dWYNGt {
  0% {
    visibility: hidden;
    -webkit-transform: translate3d(0, 60px, 0);
    -ms-transform: translate3d(0, 60px, 0);
    transform: translate3d(0, 60px, 0);
    opacity: 0;
  }

  100% {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/* sc-component-id: sc-keyframes-jAfyNe */
@-webkit-keyframes jAfyNe {
  from {
    -webkit-transform: translateX(10px) scale(0.95);
    -ms-transform: translateX(10px) scale(0.95);
    transform: translateX(10px) scale(0.95);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0) scale(1);
    -ms-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes jAfyNe {
  from {
    -webkit-transform: translateX(10px) scale(0.95);
    -ms-transform: translateX(10px) scale(0.95);
    transform: translateX(10px) scale(0.95);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0) scale(1);
    -ms-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

/* sc-component-id: sc-keyframes-bTCqpJ */
@-webkit-keyframes bTCqpJ {
  0% {
    -webkit-transform: translate3d(0, 60px, 0);
    -ms-transform: translate3d(0, 60px, 0);
    transform: translate3d(0, 60px, 0);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes bTCqpJ {
  0% {
    -webkit-transform: translate3d(0, 60px, 0);
    -ms-transform: translate3d(0, 60px, 0);
    transform: translate3d(0, 60px, 0);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/* sc-component-id: sc-keyframes-kRuiTN */
@-webkit-keyframes kRuiTN {
  0% {
    -webkit-transform: translateY(-2vh);
    -ms-transform: translateY(-2vh);
    transform: translateY(-2vh);
  }

  50% {
    -webkit-transform: translateY(2vh);
    -ms-transform: translateY(2vh);
    transform: translateY(2vh);
  }

  100% {
    -webkit-transform: translateY(-2vh);
    -ms-transform: translateY(-2vh);
    transform: translateY(-2vh);
  }
}

@keyframes kRuiTN {
  0% {
    -webkit-transform: translateY(-2vh);
    -ms-transform: translateY(-2vh);
    transform: translateY(-2vh);
  }

  50% {
    -webkit-transform: translateY(2vh);
    -ms-transform: translateY(2vh);
    transform: translateY(2vh);
  }

  100% {
    -webkit-transform: translateY(-2vh);
    -ms-transform: translateY(-2vh);
    transform: translateY(-2vh);
  }
}

/* sc-component-id: sc-keyframes-gdQlCu */
@-webkit-keyframes gdQlCu {
  0% {
    visibility: visible;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }

  50% {
    visibility: visible;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
  }

  100% {
    visibility: visible;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@keyframes gdQlCu {
  0% {
    visibility: visible;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }

  50% {
    visibility: visible;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
  }

  100% {
    visibility: visible;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

/* sc-component-id: sc-keyframes-geIXfi */
@-webkit-keyframes geIXfi {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
    -webkit-transform: translate3d(8px, 10px, 0);
    -ms-transform: translate3d(8px, 10px, 0);
    transform: translate3d(8px, 10px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(8px, -15px, 0);
    -ms-transform: translate3d(8px, -15px, 0);
    transform: translate3d(8px, -15px, 0);
  }
}

@keyframes geIXfi {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
    -webkit-transform: translate3d(8px, 10px, 0);
    -ms-transform: translate3d(8px, 10px, 0);
    transform: translate3d(8px, 10px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(8px, -15px, 0);
    -ms-transform: translate3d(8px, -15px, 0);
    transform: translate3d(8px, -15px, 0);
  }
}

/* sc-component-id: sc-keyframes-GxwcB */
@-webkit-keyframes GxwcB {
  0% {
    width: 45.97px;
    height: 45.97px;
    x: 19.49;
    y: 6.3;
  }

  25% {
    width: 45.97px;
    height: 72.35px;
    x: 19.49;
    y: -6.89;
  }

  50% {
    width: 72.35px;
    height: 72.35px;
    x: 6.3;
    y: -6.89;
  }

  75% {
    width: 72.35px;
    height: 45.97px;
    x: 6.3;
    y: 6.3;
  }

  100% {
    width: 45.97px;
    height: 45.97px;
    x: 19.49;
    y: 6.3;
  }
}

@keyframes GxwcB {
  0% {
    width: 45.97px;
    height: 45.97px;
    x: 19.49;
    y: 6.3;
  }

  25% {
    width: 45.97px;
    height: 72.35px;
    x: 19.49;
    y: -6.89;
  }

  50% {
    width: 72.35px;
    height: 72.35px;
    x: 6.3;
    y: -6.89;
  }

  75% {
    width: 72.35px;
    height: 45.97px;
    x: 6.3;
    y: 6.3;
  }

  100% {
    width: 45.97px;
    height: 45.97px;
    x: 19.49;
    y: 6.3;
  }
}

/* sc-component-id: sc-keyframes-eRPMli */
@-webkit-keyframes eRPMli {
  0% {
    -webkit-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@keyframes eRPMli {
  0% {
    -webkit-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

/* sc-component-id: sc-keyframes-ipTiZa */
@-webkit-keyframes ipTiZa {
  0% {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0) scale(1);
    -ms-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes ipTiZa {
  0% {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0) scale(1);
    -ms-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

/* sc-component-id: sc-keyframes-bjOitD */
@-webkit-keyframes bjOitD {
  0% {
    -webkit-transform: translateY(1%);
    -ms-transform: translateY(1%);
    transform: translateY(1%);
  }

  100% {
    -webkit-transform: translateY(-1%);
    -ms-transform: translateY(-1%);
    transform: translateY(-1%);
  }
}

@keyframes bjOitD {
  0% {
    -webkit-transform: translateY(1%);
    -ms-transform: translateY(1%);
    transform: translateY(1%);
  }

  100% {
    -webkit-transform: translateY(-1%);
    -ms-transform: translateY(-1%);
    transform: translateY(-1%);
  }
}

/* sc-component-id: sc-keyframes-qMeOo */
@-webkit-keyframes qMeOo {
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(25%, -10%);
    -ms-transform: translate(25%, -10%);
    transform: translate(25%, -10%);
  }
}

@keyframes qMeOo {
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(25%, -10%);
    -ms-transform: translate(25%, -10%);
    transform: translate(25%, -10%);
  }
}

/* sc-component-id: sc-keyframes-SbUCr */
@-webkit-keyframes SbUCr {
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-25%, -10%);
    -ms-transform: translate(-25%, -10%);
    transform: translate(-25%, -10%);
  }
}

@keyframes SbUCr {
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-25%, -10%);
    -ms-transform: translate(-25%, -10%);
    transform: translate(-25%, -10%);
  }
}

/* sc-component-id: sc-keyframes-gJwPov */
@-webkit-keyframes gJwPov {
  to {
    color: #101131;
    background: transparent;
  }
}

@keyframes gJwPov {
  to {
    color: #101131;
    background: transparent;
  }
}

/* sc-component-id: br1ib3-0-Input__InputLayout-cNXFmE */
.kWajqy {
  border-radius: 4px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0 !important;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  border: 2px solid #fff;
}

/* sc-component-id: br1ib3-0-Input__InputLayout-cKDCql */
.fDRPhb {
  border-radius: 4px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0 !important;
  -webkit-order: 99999;
  -ms-flex-order: 99999;
  order: 99999;
  z-index: -1;
  background: #fff;
  border: 2px solid transparent;
}

/* sc-component-id: Input__InputContainer-br1ib3-1 */
.iTzoXo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  z-index: 0;
}

.iTzoXo>* {
  margin: 0 5px;
}

.iTzoXo>*:first-child {
  margin-left: 0;
}

.iTzoXo>*:last-child {
  margin-right: 0;
}

.iTzoXo:hover .br1ib3-0-Input__InputLayout-cNXFmE {
  border-color: rgba(0, 0, 0, 0.15);
}

/* sc-component-id: Input__InputControl-br1ib3-2 */
.gWavst {
  display: block;
  padding: 1.1em 1.15em 0.9em;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  color: #101131;
  border: none;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.gWavst:-webkit-autofill {
  -webkit-animation-name: gJwPov;
  animation-name: gJwPov;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.gWavst:focus {
  outline: none;
}

.gWavst:disabled {
  color: rgba(0, 0, 0, 0.2);
}

.gWavst:disabled~*: {
  color: rgba(0, 0, 0, 0.2);
}

.gWavst:disabled~.br1ib3-0-Input__InputLayout-cNXFmE {
  border-color: rgba(0, 0, 0, 0.2);
}

.gWavst:disabled~.br1ib3-0-Input__InputLayout-cKDCql {
  background: #f1f1f1;
}

.gWavst:focus~.br1ib3-0-Input__InputLayout-cNXFmE {
  border-color: #0cc2ba;
}

.gWavst::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.gWavst::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.gWavst:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.gWavst::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

/* sc-component-id: Input__TextAreaControl-br1ib3-3 */
.bMHRKz {
  display: block;
  padding: 1.1em 1.15em 0.9em;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  color: #101131;
  border: none;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  resize: none;
}

.bMHRKz:-webkit-autofill {
  -webkit-animation-name: gJwPov;
  animation-name: gJwPov;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.bMHRKz:focus {
  outline: none;
}

.bMHRKz:disabled {
  color: rgba(0, 0, 0, 0.2);
}

.bMHRKz:disabled~*: {
  color: rgba(0, 0, 0, 0.2);
}

.bMHRKz:disabled~.br1ib3-0-Input__InputLayout-cNXFmE {
  border-color: rgba(0, 0, 0, 0.2);
}

.bMHRKz:disabled~.br1ib3-0-Input__InputLayout-cKDCql {
  background: #f1f1f1;
}

.bMHRKz:focus~.br1ib3-0-Input__InputLayout-cNXFmE {
  border-color: #0cc2ba;
}

.bMHRKz::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.bMHRKz::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.bMHRKz:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.bMHRKz::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

/* sc-component-id: InputField__FieldContainer-s9c8yl0-0 */
.hqewsm {
  position: relative;
  display: block;
}

/* sc-component-id: InputField__FieldInputContainer-s9c8yl0-1 */
.iyWlxw {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* sc-component-id: InputField__FieldInput-s9c8yl0-2 */
.ffFHOm {
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
}

/* sc-component-id: ContactView__Background-s1airim3-0 */
.ijLqQr {
  background-color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

/* sc-component-id: sc-keyframes-KcIol */
@-webkit-keyframes KcIol {
  from {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes KcIol {
  from {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

/* sc-component-id: ProjectContainer-s16s8y6k-0 */
.kzFaUy {
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  opacity: 1;
  -webkit-transition: 0.5s opacity cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.5s opacity cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* sc-component-id: sc-keyframes-kNIJfT */
@-webkit-keyframes kNIJfT {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes kNIJfT {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

/* sc-component-id: styles__Container-s1bhetbc-0 */
.hCXJNJ {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-animation: kNIJfT 0.4s ease-in-out;
  animation: kNIJfT 0.4s ease-in-out;
}

/* sc-component-id: styles__IconBox-s1bhetbc-1 */
.laHbZk {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 1.5rem;
  width: 1.75rem;
  margin: 0 0 0 -0.05rem;
}

/* sc-component-id: Header__Shifty-unwdjs-0 */
@media (max-width:48em) {
  .jzoSBY {
    padding-left: 12px;
  }
}

/* sc-component-id: Header__Wrapper-unwdjs-1 */
.jYdVBk {
  color: white;
}

/* sc-component-id: ProjectLink__Arrow-s1i55sf9-0 */
.bAnjJu {
  display: inline-block;
  padding-left: 2px;
  opacity: 0;
  font-size: 0.75em;
}

@media (max-width:48em) {
  .bAnjJu {
    display: none;
  }
}

/* sc-component-id: ProjectLink__Link-s1i55sf9-1 */
.khJyAn {
  display: block;
  white-space: nowrap;
  -webkit-transition: 0.4s color cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.4s color cubic-bezier(0.165, 0.84, 0.44, 1);
}

.khJyAn>.Text__InnerText-s1e82ayr-0,
.khJyAn .ProjectLink__Arrow-s1i55sf9-0,
.khJyAn svg {
  -webkit-transition: 0.4s -webkit-transform cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: 0.4s transform cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.4s transform cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media (min-width:48em) {
  .khJyAn:hover .ProjectLink__Arrow-s1i55sf9-0 {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
    opacity: 1;
  }

  .khJyAn:hover>.Text__InnerText-s1e82ayr-0 {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
}

/* sc-component-id: ProjectLink__Chevron-s1i55sf9-2 */
.edJoaK {
  display: none;
}

@media (max-width:48em) {
  .edJoaK {
    display: block;
  }
}

/* sc-component-id: ProjectLink__LinkContent-s1i55sf9-3 */
.gTsMnA {
  font-size: 4.5vh;
  line-height: 1.8;
}

@media (max-width:48em) {
  .gTsMnA {
    font-size: 2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (max-height:600px) {
  .gTsMnA {
    font-size: 2rem;
  }
}

/* sc-component-id: Row-s1cxgd2-0 */
.jjhtBQ {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

/* sc-component-id: MobileNav__Link-y71lqi-0 */
.fOgavx {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* sc-component-id: LandingContainer__Background-s1msgrgs-1 */
.goxDyi {
  background: linear-gradient(to right, #000 10%, rgba(90, 79, 255, 0.8) 100%);
  color: #fff;
  position: absolute;
  top: -140px;
  left: 0;
  right: 0;
  bottom: 0;
}

/* sc-component-id: sc-keyframes-cWVclG */
@-webkit-keyframes cWVclG {
  from {
    left: 0;
  }

  to {
    left: 0;
  }
}

@keyframes cWVclG {
  from {
    left: 0;
  }

  to {
    left: 0;
  }
}

/* sc-component-id: sc-keyframes-gGgdyJ */
@-webkit-keyframes gGgdyJ {
  from {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes gGgdyJ {
  from {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

/* sc-component-id: sc-keyframes-ESchc */
@-webkit-keyframes ESchc {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

@keyframes ESchc {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

/* sc-component-id: ProjectView__Container-paxcuj-0 */
.fRXRVr {
  min-height: 100vh;
  position: relative;
}

/* sc-component-id: sc-global-3842204263 */
@font-face {
  font-family: Larsseit;
  src: url(https: //d2998a9lzvovjv.cloudfront.net/1136099f03decc5011b7454f97f0d216.otf);font-weight:400;} @font-face{font-family:Larsseit;src:url(https://d2998a9lzvovjv.cloudfront.net/15413d0f0bb3224f762bf1711d5d1443.otf);font-weight:500;} @font-face{font-family:Larsseit;src:url(https://d2998a9lzvovjv.cloudfront.net/d37acb85308e3126b5184211f1878c8f.otf);font-weight:600;} a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline;} article,aside,canvas,figcaption,figure,footer,header,hgroup,main,output,section{display:block;} body{line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;} ol,ul{list-style:none;} blockquote,q{quotes:none;} blockquote::before,q::before,blockquote::after,q::after{content:"";display:none;} table{border-collapse:collapse;border-spacing:0;} input,textarea,button,select{-webkit-appearance:none;-moz-appearance:none;appearance:none;background:none;border-color:currentColor;border-style:none;border-width:medium;border-radius:0;margin:0;padding:0;color:inherit;font-style:inherit;font-variant:inherit;font-weight:inherit;font-stretch:inherit;font-size:inherit;font-family:inherit;line-height:inherit;vertical-align:baseline;} ::-webkit-input-placeholder:{opacity:1;color:inherit;font-style:inherit;font-variant:inherit;font-weight:inherit;font-stretch:inherit;font-size:inherit;font-family:inherit;} ::-moz-placeholder:{opacity:1;color:inherit;font-style:inherit;font-variant:inherit;font-weight:inherit;font-stretch:inherit;font-size:inherit;font-family:inherit;} :-ms-input-placeholder:{opacity:1;color:inherit;font-style:inherit;font-variant:inherit;font-weight:inherit;font-stretch:inherit;font-size:inherit;font-family:inherit;} ::placeholder:{opacity:1;color:inherit;font-style:inherit;font-variant:inherit;font-weight:inherit;font-stretch:inherit;font-size:inherit;font-family:inherit;} a:link{-webkit-text-decoration:none;text-decoration:none;} a:link,a:visited,a:hover,a:active{color:inherit;} ::-webkit-inner-spin-button{-webkit-appearance:none;-moz-appearance:none;appearance:none;} ::-webkit-outer-spin-button{-webkit-appearance:none;-moz-appearance:none;appearance:none;} ::-webkit-search-cancel-button{-webkit-appearance:none;-moz-appearance:none;appearance:none;} ::-webkit-search-results-button{-webkit-appearance:none;-moz-appearance:none;appearance:none;} ::-ms-clear,::-ms-reveal{display:none;} ::-webkit-contacts-auto-fill-button{display:none !important;} input{-moz-appearance:textfield;} *,*:before,*:after{box-sizing:inherit;} html{box-sizing:border-box;} html{height:100%;font-size:1.125em;} @media (min-width:75em){html{font-size:1.25em;}} body{min-height:100%;font-family:Larsseit,Helvetica,Arial,sans-serif;font-weight:400;line-height:1.642821;color:#101131;background:#000;} body > div.root{min-height:100%;} img{max-width:100%;}

    /* sc-component-id: sc-keyframes-iDIYDr */
    @-webkit-keyframes iDIYDr {
    0% {
      x: 12.6;
      y: 0;
    }

    25% {
      x: 12.6;
      y: -13.78;
    }

    50% {
      x: 0;
      y: -13.78;
    }

    75% {
      x: 0;
      y: 0;
    }

    100% {
      x: 12.6;
      y: 0;
    }
  }

  @keyframes iDIYDr {
    0% {
      x: 12.6;
      y: 0;
    }

    25% {
      x: 12.6;
      y: -13.78;
    }

    50% {
      x: 0;
      y: -13.78;
    }

    75% {
      x: 0;
      y: 0;
    }

    100% {
      x: 12.6;
      y: 0;
    }
  }

  /* sc-component-id: sc-keyframes-lkZehd */
  @-webkit-keyframes lkZehd {
    0% {
      x: 58.57;
      y: 0;
    }

    25% {
      x: 58.57;
      y: -13.78;
    }

    50% {
      x: 72.35;
      y: -13.78;
    }

    75% {
      x: 72.35;
      y: 0;
    }

    100% {
      x: 58.57;
      y: 0;
    }
  }

  @keyframes lkZehd {
    0% {
      x: 58.57;
      y: 0;
    }

    25% {
      x: 58.57;
      y: -13.78;
    }

    50% {
      x: 72.35;
      y: -13.78;
    }

    75% {
      x: 72.35;
      y: 0;
    }

    100% {
      x: 58.57;
      y: 0;
    }
  }

  /* sc-component-id: sc-keyframes-hDISRz */
  @-webkit-keyframes hDISRz {
    0% {
      x: 12.6;
      y: 45.97;
    }

    25% {
      x: 12.6;
      y: 59.75;
    }

    50% {
      x: 0;
      y: 59.75;
    }

    75% {
      x: 0;
      y: 45.97;
    }

    100% {
      x: 12.6;
      y: 45.97;
    }
  }

  @keyframes hDISRz {
    0% {
      x: 12.6;
      y: 45.97;
    }

    25% {
      x: 12.6;
      y: 59.75;
    }

    50% {
      x: 0;
      y: 59.75;
    }

    75% {
      x: 0;
      y: 45.97;
    }

    100% {
      x: 12.6;
      y: 45.97;
    }
  }

  /* sc-component-id: sc-keyframes-laxwhD */
  @-webkit-keyframes laxwhD {
    0% {
      x: 58.57;
      y: 45.97;
    }

    25% {
      x: 58.57;
      y: 59.75;
    }

    50% {
      x: 72.35;
      y: 59.75;
    }

    75% {
      x: 72.35;
      y: 45.97;
    }

    100% {
      x: 58.57;
      y: 45.97;
    }
  }

  @keyframes laxwhD {
    0% {
      x: 58.57;
      y: 45.97;
    }

    25% {
      x: 58.57;
      y: 59.75;
    }

    50% {
      x: 72.35;
      y: 59.75;
    }

    75% {
      x: 72.35;
      y: 45.97;
    }

    100% {
      x: 58.57;
      y: 45.97;
    }
  }